[defaults]
inventory = inventory.ini
host_key_checking = False  
remote_user = ubuntu

gathering = smart

[ssh_connection]
# Avoids uploading temp files 
pipelining = True
# Keep SSH connection open for 60 seconds
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no